<%- include("./partials/header") %>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="mb-4 text-center">
        <% if(!user){ %>
          <a href="/signin" class="btn btn-primary">Sign In</a>
          <a href="/signup" class="btn btn-secondary">Sign Up</a>
        <% } else { %>
          <a href="/logout" class="btn btn-danger">Log Out</a>
        <% } %>
      </div>
      <div class="bg-light px-5 pt-5 pb-3">
        <div class="d-flex justify-content-between align-items-center">
          <input id="title-edit" type="hidden" name="" value="">
          <h2 class="m-0 p-0">My Task List</h2>
        </div>
        <ul class="list-group list-group-flush mt-4">
          <% tasks.forEach(function(task){ %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <%= task.content %>
              <form class="" action="/list/<%= task._id %>/delete?_method=DELETE" method="POST">
                <button class="btn m-0 p-0"><span class="badge badge-danger">X</span></button>
              </form>
            </li>
          <% }); %>
          <form action="/list/add?_method=PUT" method="POST">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <input type="text" name="new" class="w-100 form-control border-0" placeholder="Enter new task..">
              <button type="submit" name="button" class="btn"><i class="fas fa-plus"></i></button>
            </li>
          </form>
        </ul>
        <form class="mt-4" action="/list?_method=DELETE" method="POST">
          <a href="/invite" class="btn btn-primary">Invite Others</a>
          <button type="submit" class="btn btn-danger">Reset List</button>
        </form>
        <p class="mt-4 font-italic">
        <% if(user){ %>
          Logged in as: <%= user.username %>
        <% } %>
        </p>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
