<%- include("./partials/header") %>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-xs-12">
      <div class="mb-4 text-center">
        <% if(!user){ %>
          <a href="/signin" class="btn btn-primary">Sign In</a>
          <a href="/signup" class="btn btn-secondary">Sign Up</a>
        <% } else { %>
          <a href="/logout" class="btn btn-danger">Log Out</a>
          <a href="/" class="btn btn-primary">Back to Lists</a>
        <% } %>
      </div>
      <div class="bg-light px-5 pt-5 pb-3">
        <div class="d-flex justify-content-between align-items-center">
          <input id="title-edit" type="hidden" name="" value="">
          <h2 class="m-0 p-0"><%= list.title %></h2>
        </div>
        <% if(list.ownedBy === user.username){ %>
          <form action="/list/<%= list._id %>/editTitle?_method=PUT" method="POST" class="input-group p-0 mt-2">
            <input type="text" name="title" class="form-control border-0" placeholder="Edit title...">
            <button type="submit" class="btn btn-warning text-white" name="button"><i class="fas fa-pencil-alt"></i></button>
          </form>
        <% } %>
        <ul class="list-group list-group-flush mt-4">
          <% tasks.forEach(function(task){ %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <%= task.content %>
              <form class="" action="/list/<%= list._id %>/<%= task._id %>/delete?_method=DELETE" method="POST">
                <button class="btn m-0 p-0"><span class="badge badge-danger">X</span></button>
              </form>
            </li>
          <% }); %>
          <form action="/list/<%= list._id %>/addTask?_method=PUT" method="POST">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <input type="text" name="new" class="w-100 form-control border-0" placeholder="Enter new task..">
              <button type="submit" name="button" class="btn"><i class="fas fa-plus"></i></button>
            </li>
          </form>
        </ul>
        <strong><p class="mt-4">Users with access:</p></strong>
        <ul class="list-group mb-4">
          <% list.hasAccess.forEach(function(access){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= access %>
              <% if(list.ownedBy === access){ %>
                <span class="badge"><i class="fas fa-crown"></i></span>
              <% } %>
            </li>
          <% }); %>
          <% if(list.ownedBy === user.username){ %>
            <li class="list-group-item p-0 border-0">
              <form action="/list/<%= list._id %>/addUser?_method=PUT" method="POST" class="input-group p-0">
                <input type="text" name="username" class="form-control p-4" placeholder="Friend's username...">
                <button type="submit" name="button" class="btn btn-primary ml-0">Add User</button>
              </form>
            </li>
          <% } %>
        </ul>
        <% if(list.ownedBy === user.username){ %>
          <form action="/list/<%= list._id %>/delete?_method=DELETE" method="POST" class="input-group p-0 mb-4">
            <button type="submit" name="button" class="btn btn-block btn-danger ml-0">Delete List</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
