<%- include("./partials/header") %>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="mb-4">
        <div class="text-center">
          <a href="/logout" class="btn btn-danger">Log Out</a>
        </div>
          <ul>
            <% lists.forEach(function(list){ %>
                <li>
                <% if(user.username === list.ownedBy){ %>
                  <i class="fas fa-crown mr-2"></i>
                <% } %>
                <a href="/list/<%= list._id %>"><%= list.title %></a>
                </li>
            <% }); %>
          </ul>
          <form action="/user/<%= user.username %>/addList" method="POST" class="input-group p-0 mt-2">
            <input type="text" name="title" class="form-control border-0 bg-light" placeholder="List title...">
            <button type="submit" class="btn btn-primary text-white" name="button">New List</button>
          </form>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
